<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.highroid.asnaf">

    <uses-sdk
        android:minSdkVersion="14"
        tools:overrideLibrary="android.support.customtabs" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ActivityHome"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityGallery"
            android:label="@string/title_activity_activity_gallery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActivityDetail"
            android:label="@string/title_activity_activity_detail"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".activity.ActivitySplash"
            android:label="@string/title_activity_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activity.ActivityAtelier"
            android:label="@string/title_activity_activity_atelie"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ActivityMap"
            android:label="@string/title_activity_activity_map" />
        <activity
            android:name=".activity.ActivityRuleList"
            android:label="@string/title_activity_activity_rule"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activity.ActivityRule"
            android:label="@string/title_activity_activity_rule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActivityNewsList"
            android:label="@string/title_activity_activity_news_list"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activity.ActivityNews"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>